.backgroung_img {
    background-image: url("../../../../assets/images/personal/contact-detail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;    
}